/* darkBackground #455A64
lightBackground #CFD8DC
fontValue #FFFFFF
buttonColor #FFC107
buttonOnHover #FFD773
cardBorder #607D8B
cardtextMain #455A64
cardUrl #607D8B
card underline #F2F4F4
cardBackrgound #CFD8DC */
/* ON-HOVER
cardUrl #455A64
cardUnderline #FFC107 */
/* WHEN :read-only
??? #F2F4F4
cardUnderline #CFD8DC
read #F05A28 */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.full-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.full-wrapper {
  display: flex;
  margin: 0 auto;
}

.inputs-button-wrapper {
  background-color: #455A64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  height: 100vh;
}

/*header {
  margin-bottom: 3rem;
}*/

.title-inputs {
  color: #FFF;
  font-size: 5vw;
}

.link-img {
  width: 15%;
}

.inputs {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 5rem;
  height: 4.5rem;
  width: 77%;
}

.inputs:invalid {
  border: 2px dashed red;
}

.make-bookmark-button {
  border: none;
  background-color: #FFC107;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 800;
  height: 4.5rem;
  width: 77%;
}

.make-bookmark-button:hover {
  background-color: #FFD773;
  color: #FFF;
}

.bookmark-section {
  background-color: #CFD8DC;
  display: inline-block;
  width: 50%;
  border: 1px solid #607D8B;
  overflow: scroll;
  height: 100vh;
}

.bookmark-banner-element {
  color: #455A64;
  border-bottom: 1px solid #CFD8DC;
  font-size: x-large;
  margin: 1.5rem 1.5rem 0 1.5rem;
  padding-bottom: .5rem;

}

.bookmark-list-item {
  background-color: #FFF;
  border: 1px solid #607D8B;
  color: #607D8B;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.bookmark-list-banner {
/*  border: 3px solid;
*/}

.bookmark-list-link {
  color: #607D8B;
  font-size: medium;
  margin-left: 1.5rem;
  border-bottom: 1px solid #CFD8DC;
  padding: 1.5rem 0;
}

.bookmark-list-link-item:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline #FFC107;
}

.bookmark-list-link-item {
  color: #607D8B;
  font-size: large;
  text-decoration: underline #F2F4F4;
}

.bookmark-list-buttons {
  display: flex;
  justify-content: space-between;
  margin: .5rem 1.5rem .5rem 1.5rem;
}

.bookmark-list-button {
  background: none;
  border: none;
  color: #455A64;
  font-size: small;
  text-decoration: underline #F2F4F4;
}

.read-button:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration: underline #FFC107;
}

.delete-button:hover {
  text-decoration: underline #FFC107;
}

.page-read {
  background-color: #F2F4F4;
}

.page-read .read-button {
  color: #F05A28;
  text-decoration: none;
  font-weight: 800;
}

@media screen and (min-width: 1250px) {
  .full-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .full-wrapper {
    display: block;
  }
  .inputs-button-wrapper,
  .bookmark-section {
    width: 100%;
  }
  .link-img {
    width: 7%;
    padding-bottom: 1rem;
  }
}