/* darkBackground #455A64
lightBackground #CFD8DC
fontValue #FFFFFF
buttonColor #FFC107
buttonOnHover #FFD773
cardBorder #607D8B
cardtextMain #455A64
cardUrl #607D8B
card underline #F2F4F4
cardBackrgound #CFD8DC */
/* ON-HOVER
cardUrl #455A64
cardUnderline #FFC107 */
/* WHEN :read-only
??? #F2F4F4
cardUnderline #CFD8DC
read #F05A28 */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.title-inputs {
  color: #FFF;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}

img.link-img {
  width: 7rem;
}

.inputs-form {
  background-color: #455A64;
  height: 100%;
}

.inputs-button-wrapper {
  background-color: #455A64;
  height: -webkit-fill-available;
  padding-top: 25%;
  width: 50%;
}

.inputs {
  font-size: 1.5rem;
  width: 37rem;
  display: inline-flex;
  justify-content: center;
}

.enter-button {
  background-color: #FFC107;
  color: #fff;
  font-weight: 800;
}
