/* darkBackground #455A64
lightBackground #CFD8DC
fontValue #FFFFFF
buttonColor #FFC107
buttonOnHover #FFD773
cardBorder #607D8B
cardtextMain #455A64
cardUrl #607D8B
card underline #F2F4F4
cardBackrgound #CFD8DC */
/* ON-HOVER
cardUrl #455A64
cardUnderline #FFC107 */
/* WHEN :read-only
??? #F2F4F4
cardUnderline #CFD8DC
read #F05A28 */

* {
    margin: 0;
    padding: 0;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

section.inputs-button-wrapper {
  background-color: #455A64;
  display: inline-block;
  width: 49%;
  text-align: center;
}

h1.title-inputs {
  color: #FFF;
  font-size: 3rem;
}

.link-img {
  width: 5rem;
}

.inputs {
  width: 23rem;
}

button.make-bookmark-button {
  background-color: #FFC107;
  color: #FFF;
  width: 23rem;
}

button.make-bookmark-button:hover {
  background-color: #FFD773;
  color: #FFF;
}

section.bookmark-section {
  background-color: #CFD8DC;
  display: inline-block;
  width: 50%;
  border: 1px solid #607D8B;
}

h2.bookmark-banner-element {
/*  border: 2px solid #607D8B;
*/}

article.bookmark-list-item {
  color: #607D8B;
}

header.bookmark-list-banner {
/*  border: 3px solid;
*/}

span.bookmark-list-link {
  color: #607D8B;
}

a.bookmark-list-link-item {
/*  border: 4px solid chartreuse;
*/}

nav.bookmark-list-buttons {
/*  border: 2px solid lightblue;
*/}

button.bookmark-list-button {
/*  border: 1px solid orange;
*/}

